<div class="container-fluid" style="margin-top:70px">

    <div class="row">

        <!-- loop over the collection of products -->
        <div *ngFor="let tempProduct of products" class="col-md-3">

            <div class="card" style="width: 18rem;">
                <a routerLink="/product/{{ tempProduct.id }}">
                    <img class="card-img-top" src="{{ tempProduct.imageUrl }}" style="width: 30%;">
                </a>
                <div class="card-body">
                    <a routerLink="/product/{{ tempProduct.id }}">
                        <h5 class="card-title">{{ tempProduct.name }}</h5>
                    </a>
                    <p class="card-title" style="color:green">{{ tempProduct.unitPrice | currency:'VND' }}</p>
                    <button class="btn btn-success btn-sm">Add to cart</button>
                </div>
            </div>
        </div>

        <!-- if products is null/undefine or products.length == 0 then display a message -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
            There are no products contain string '{{searchTerm}}'.
        </div>

    </div>

    <!-- begin footer -->

    <div class="row">
        <div class="col-md-6"></div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-9" style="padding-left: 30%">
                    <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize"
                        [collectionSize]="theTotalElements" [maxSize]="5" [boundaryLinks]="true"
                        (pageChange)="listProducts()">
                    </ngb-pagination>
                </div>
                <div class="col-md-3 mt-2" style="text-align: right;">
                    <span class="mr-2">Page Size</span>

                    <select (change)="updatePageSize($event.target)">
                        <option selected="true">{{thePageSizeInit}}</option>
                        <option>20</option>
                        <option>50</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!-- end footer -->

</div>